<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span flex="" class="flex"></span>
        <md-button class="md-raised" style="background-color: #5f5964;color: white" ng-click="detail.getPdf()">
            Export PDF</md-button>
    </div>

</md-toolbar>

<section  ng-repeat="block in detail.blocks" flex>
        <div class="md-toolbar-tools">
            <i class="material-icons">bookmark</i> <h3 class="ng-binding">{{detail.data.expensename}}</h3>
        </div>
    <md-content class="md-padding" style="border: 1px dashed black;">
        <div layout="row" layout-wrap >
            <div flex="50" layout="row">
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Total Cost</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.total_price}}
                </div>
            </div>

            <div flex="50" layout="row">
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Submitted Date</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.entity.created_at}}
                </div>
            </div>
        </div>
        <div layout="row" layout-wrap >
            <div flex="50" layout="row">
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Status</strong>
                </div>
                <div flex="70" class="detail-block">
                    <span class="mdl-chip"  style="background-color: #bbdefb;" >
                        <span>
                            <span class="mdl-chip__text">{{detail.data.status.expensestatusname}}</span>
                        </span>
                    </span>
                </div>
            </div>
            <div flex="50" layout="row">
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Approval Detail</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.user.nickname}}@{{detail.data.entity.updated_at}}
                </div>
            </div>
        </div>
  </md-content>
</section>

<md-table-container style="margin-top: 20px">
    <span class="mdl-chip"  style="background-color: #f5f5b5;" >
        <span>
            <span class="mdl-chip__text">Items</span>
            <span class="mdl-badge" data-badge="{{detail.data.item.length}}"></span>
        </span>
    </span>
    <table md-table md-row-select ng-model="list.selected"  md-progress="detail.promise">
        <thead md-head md-order="detail.query.order" md-on-reorder="detail.onReorder">
        <tr md-row>
            <th md-column >Item</th>
            <th md-column >Opportunity</th>
            <th md-column >Owner</th>
            <th md-column >Total Cost</th>
            <th md-column width="50"></th>
        </tr>
        </thead>
        <tbody md-body >
        <tr md-row md-select="listdata" md-select-id="{{listdata.id}}"  md-auto-select ng-repeat="listdata in detail.data.item">
          <!--<td md-cell ng-repeat="fieldname in detail.heads" ng-click="detail.getDetail(listdata.id)">{{listdata[fieldname]}}</td>-->

            <td md-cell ng-click="detail.getDetail(listdata.id)">{{listdata.itemname}}</td>
            <td md-cell ng-click="detail.getDetail(listdata.id)">{{listdata.opportunity}}</td>
            <td md-cell ng-click="detail.getDetail(listdata.id)">{{listdata.userId}}</td>
            <td md-cell ng-click="detail.getDetail(listdata.id)">{{listdata.cost}}</td>
            <td md-cell >
                <md-button ng-model="listdata.itemname" class="md-icon-button launch"
                           ng-click="detail.showRejectItem($event,listdata)">
                    <i class="material-icons">remove_circle</i>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

<md-container class="md-padding">
<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span >{{detail.label}}</span>
        <span flex="" class="flex" layout-align="end"></span>
        <md-button class="md-raised" style="background-color: #5f5964;color: white" href="#/Expense/list">Back</md-button>
        <md-button class="md-raised" ng-click="detail.showConfirm($event)">Approve</md-button>
        <md-button class="md-raised" ng-click="detail.showReject($event)" >Reject</md-button>
    </div>
</md-toolbar>
</md-container>

