<!--<div ng-include="'views/objects/Expen/listHeader.html'" xmlns="http://www.w3.org/1999/html"></div>-->

<md-table-container>
    <i class="material-icons">near_me</i><span class="mdl-chip"  style="background-color: #bbdefb;" >
        <span>
            <span class="mdl-chip__text">Submitted Expenses</span>
            <span class="mdl-badge" data-badge="{{list.total}}"></span>
        </span>
    </span>
    <table md-table md-row-select ng-model="list.selected" md-progress="list.promise">
        <thead md-head md-order="list.query.order" md-on-reorder="list.onReorder">
        <tr md-row>
            <th md-column >Expense</th>
            <!--<th md-column >Owner</th>-->
            <!--<th md-column >Total Cost</th>-->
            <th md-column >Submitted Date</th>
            <th md-column >Status</th>
            <th md-column width="50"></th>
        </tr>
        </thead>
        <tbody md-body >
        <tr md-row md-select="listdata" md-select-id="{{listdata.id}}"  md-auto-select ng-repeat="listdata in list.listdatas"
            ng-if="listdata.status_id ===354">
            <!--<td md-cell ng-repeat="fieldname in list.heads" ng-click="list.getDetail(listdata.id)">{{listdata[fieldname]}}</td>-->

            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.expensename}}</td>
            <!--<td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.user.nickname}}</td>-->
            <!--<td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.total_price}}</td>-->
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.created_at}}</td>
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.status.expensestatusname}}</td>
            <td md-cell >
                <md-button href="#/{{list.objectName}}/detail/{{listdata.id}}"
                           class="md-icon-button launch"  >
                    <i class="material-icons" >more_vert</i>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="list.query.limit" md-page="list.query.page" md-options="list.limitoption" md-total="{{list.total}}" md-on-paginate="list.onPaginate" md-page-select></md-table-pagination>

<md-table-container>
    <i class="material-icons">done</i><span class="mdl-chip"  style="background-color: #bbffbb;" >
        <span>
            <span class="mdl-chip__text">Approved Expenses</span>
            <span class="mdl-badge" data-badge="{{list.total}}"></span>
        </span>
    </span>
    <table md-table md-row-select ng-model="list.selected" md-progress="list.promise">
        <thead md-head md-order="list.query.order" md-on-reorder="list.onReorder">
        <tr md-row>
            <th md-column >Expense</th>
            <!--<th md-column >Owner</th>-->
            <!--<th md-column >Total Cost</th>-->
            <th md-column >Approved Date</th>
            <th md-column >Status</th>
            <th md-column width="50"></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="listdata" md-select-id="{{listdata.id}}" md-auto-select ng-repeat="listdata in list.listdatas"
            ng-if="listdata.status_id ===564 || listdata.status_id ===565">
            <!--<td md-cell ng-repeat="fieldname in list.heads" ng-click="list.getDetail(listdata.id)">{{listdata[fieldname]}}</td>-->
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.expensename}}</td>
            <!--<td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.user.nickname}}</td>-->
            <!--<td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.total_price}}</td>-->
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.created_at}}</td>
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.status.expensestatusname}}</td>
            <td md-cell >
                <md-button href="#/{{list.objectName}}/detail/{{listdata.id}}"
                           class="md-icon-button launch" >
                    <i class="material-icons" >more_vert</i>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="list.query.limit" md-page="list.query.page" md-options="list.limitoption" md-total="{{list.total}}" md-on-paginate="list.onPaginate" md-page-select></md-table-pagination>

<md-table-container>
    <i class="material-icons">close</i><span class="mdl-chip"  style="background-color: #e7c3c3;" >
        <span>
            <span class="mdl-chip__text">Rejected Expenses</span>
            <span class="mdl-badge" data-badge="{{list.total}}"></span>
        </span>
    </span>
    <table md-table md-row-select ng-model="list.selected" md-progress="list.promise">
        <thead md-head md-order="list.query.order" md-on-reorder="list.onReorder">
        <tr md-row>
            <th md-column >Expense</th>
            <!--<th md-column >Owner</th>-->
            <!--<th md-column >Total Cost</th>-->
            <th md-column >Rejected Date</th>
            <th md-column >Status</th>
            <th md-column width="50"></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="listdata" md-select-id="{{listdata.id}}" md-auto-select ng-repeat="listdata in list.listdatas"
            ng-if="listdata.status_id ===566 || listdata.status_id ===567">
            <!--<td md-cell ng-repeat="fieldname in list.heads" ng-click="list.getDetail(listdata.id)">{{listdata[fieldname]}}</td>-->
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.expensename}}</td>
            <!--<td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.user.nickname}}</td>-->
            <!--<td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.total_price}}</td>-->
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.created_at}}</td>
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.status.expensestatusname}}</td>
            <td md-cell >
                <md-button href="#/{{list.objectName}}/detail/{{listdata.id}}"
                           class="md-icon-button launch" >
                    <i class="material-icons" >more_vert</i>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="list.query.limit" md-page="list.query.page" md-options="list.limitoption" md-total="{{list.total}}"
                     md-on-paginate="list.onPaginate" md-page-select></md-table-pagination>

<md-table-container>
    <i class="material-icons">favorite</i><span class="mdl-chip"  style="background-color: #c7bfd3;" >
        <span>
            <span class="mdl-chip__text">Paid Expenses</span>
            <span class="mdl-badge" data-badge="{{list.total}}"></span>
        </span>
    </span>
    <table md-table md-row-select ng-model="list.selected" md-progress="list.promise">
        <thead md-head md-order="list.query.order" md-on-reorder="list.onReorder">
        <tr md-row>
            <th md-column >Expense</th>
            <!--<th md-column >Owner</th>-->
            <!--<th md-column >Total Cost</th>-->
            <th md-column >Paid Date</th>
            <th md-column >Status</th>
            <th md-column width="50"></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="listdata" md-select-id="{{listdata.id}}" md-auto-select ng-repeat="listdata in list.listdatas"
            ng-if="listdata.status_id ===568">
            <!--<td md-cell ng-repeat="fieldname in list.heads" ng-click="list.getDetail(listdata.id)">{{listdata[fieldname]}}</td>-->
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.expensename}}</td>
            <!--<td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.user.nickname}}</td>-->
            <!--<td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.total_price}}</td>-->
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.created_at}}</td>
            <td md-cell ng-click="list.getDetail(listdata.id)">{{listdata.status.expensestatusname}}</td>
            <td md-cell >
                <md-button href="#/{{list.objectName}}/detail/{{listdata.id}}"
                           class="md-icon-button launch" >
                    <i class="material-icons" >more_vert</i>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="list.query.limit" md-page="list.query.page" md-options="list.limitoption" md-total="{{list.total}}"
                     md-on-paginate="list.onPaginate" md-page-select></md-table-pagination>