
<!--<md-toolbar class="md-table-toolbar md-default">-->
<!--<div class="md-toolbar-tools">-->
<!--<span >{{detail.label}}</span>-->
<!--<span flex="" class="flex"></span>-->
<!--<md-button class="md-raised" href="#/{{detail.objectName}}/edit/{{detail.record}}" >EDIT</md-button>-->
<!--<md-button class="md-raised" ng-click="detail.deleteRecord($event)" >DELETE</md-button>-->
<!--</div>-->
<!--</md-toolbar>-->

<div class="md-toolbar-tools">
    <span flex="" class="flex" layout-align="end"></span>
    <md-button class="md-raised" style="background-color:#5f5964;color: white" href="#/{{detail.objectName}}/edit/{{detail.record}}" >EDIT</md-button>
</div>

<section  flex>
    <div class="md-toolbar-tools">
        <i class="material-icons">bookmark</i> <h3 class="ng-binding">{{detail.datas.firstname}}</h3>
    </div>
    <!--<md-content class="md-padding">-->
    <!--<div layout="row" layout-wrap >-->
    <!--<div flex="50" layout="row"  ng-repeat="block in detail.blocks" >-->
    <!--<div flex="30" class="detail-block" style="text-align:right">-->
    <!--<strong>  {{block}}</strong>-->
    <!--</div>-->
    <!--<div flex="70" class="detail-block">-->
    <!--{{detail.datas[detail.labels[$index]]}}-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</md-content>-->
    <md-content class="md-padding" style="border: 1px dashed black;">
        <div layout="row" layout-wrap >
            <div flex="50" layout="row"  >
                <div flex="50" class="detail-block" style="text-align:right">
                    <strong>First Name</strong>
                </div>
                <div flex="50" class="detail-block">
                    {{detail.datas.firstname}}
                </div>
            </div>
            <div flex="50" layout="row"  >
                <div flex="50" class="detail-block" style="text-align:right">
                    <strong>Last Name</strong>
                </div>
                <div flex="50" class="detail-block">
                    {{detail.datas.lastname}}
                </div>
            </div>
        </div>

        <div layout="row" layout-wrap >
            <div flex="50" layout="row"  >
                <div flex="50" class="detail-block" style="text-align:right">
                    <strong>Nick Name</strong>
                </div>
                <div flex="50" class="detail-block">
                    {{detail.datas.nickname}}
                </div>
            </div>

            <div flex="50" layout="row"  >
                <div flex="50" class="detail-block" style="text-align:right">
                    <strong>Email</strong>
                </div>
                <div flex="50" class="detail-block">
                    {{detail.datas.email}}
                </div>
            </div>
        </div>

        <div layout="row" layout-wrap >
            <div flex="50" layout="row"  >
                <div flex="50" class="detail-block" style="text-align:right">
                    <strong>Supervisor Name</strong>
                </div>
                <div flex="50" class="detail-block">
                    {{detail.datas.supervisor}}
                </div>
            </div>

            <div flex="50" layout="row"  >
                <div flex="50" class="detail-block" style="text-align:right">
                    <strong>Role</strong>
                </div>
                <div flex="50" class="detail-block">
                    {{detail.datas.rolename}}
                </div>
            </div>
        </div>

        <div layout="row" layout-wrap >
            <div flex="50" layout="row"  >
                <div flex="50" class="detail-block" style="text-align:right">
                    <strong>Profile</strong>
                </div>
                <div flex="50" class="detail-block">
                    {{detail.datas.profilename}}
                </div>
            </div>

            <div flex="50" layout="row"  >
                <div flex="50" class="detail-block" style="text-align:right">
                    <strong>Status</strong>
                </div>
                <div flex="50" class="detail-block">
                    {{detail.datas.status}}
                </div>
            </div>
        </div>
    </md-content>


</section>
<md-container class="md-padding">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span flex="" class="flex" layout-align="end"></span>
            <md-button class="md-raised" style="background-color:#5f5964;color: white" href="#/user/list">Back</md-button>
            <md-button class="md-raised" style="background-color:#5f5964;color: white" ng-click="detail.deleteRecord($event)" >DELETE</md-button>
        </div>
    </md-toolbar>
</md-container>




<!--<div layout="row" layout-wrap >-->
    <!--<div flex="50" layout="row"  ng-repeat="block in detail.blocks |limitTo:4 " >-->

        <!--<div flex="30" class="detail-block" style="text-align:right">-->
            <!--<strong>  {{block}}</strong>-->
        <!--</div>-->
        <!--<div flex="70" class="detail-block">-->
            <!--{{detail.datas[detail.labels[$index]]}}-->
        <!--</div>-->
    <!--</div>-->



    <!--<div flex="50" layout="row"  ng-repeat="block in detail.blocks " ng-if="$index > 3" ng-switch="$index" >-->
        <!--<div flex="30" class="detail-block" style="text-align:right">-->
            <!--<strong>  {{block}}</strong><br>-->
        <!--</div>-->
        <!--<div flex="70" class="detail-block" ng-switch-when="4">-->
            <!--{{detail.datas.supervisor}}-->
        <!--</div>-->
        <!--<div flex="70" class="detail-block" ng-switch-when="5">-->
            <!--{{detail.datas.rolename}}-->
        <!--</div>-->
        <!--<div flex="70" class="detail-block" ng-switch-when="6">-->
            <!--{{detail.datas.profilename}}-->
        <!--</div>-->
        <!--<div flex="70" class="detail-block" ng-switch-when="7">-->
            <!--{{detail.datas.status}}-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
