<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span>{{list.objectName}}</span>
    <md-button class="md-icon-button" aria-label="Filter" ng-click="list.filterBtn = !list.filterBtn">
        <i ng-show="!list.filterBtn" class="material-icons">search</i>
        <i ng-hide="!list.filterBtn" class="material-icons">arrow_drop_up</i>
  	</md-button>
    <span flex="" class="flex"></span>
    <a class="md-raised md-button" href="#/{{list.objectName}}/edit" aria-label="NEW">
      <span >NEW</span>
    </a>
  </div>

  <form ng-hide="!list.filterBtn" ng-submit="list.loadList(list.objectName,list.query)">
    <md-content layout="row"  layout-align="center center">
    
    <md-input-container flex="60" md-no-float class="md-block" >
    <md-icon class="material-icons">search</md-icon>
    <input   ng-model="list.query.search" type="text" placeholder="Search">
    
    </md-input-container>

    <md-button type="button" 
    class="md-icon-button md-button" 
    ng-hide="!list.query.search.length"
    ng-click="list.cancleSearch()"
    ><i class="material-icons">clear</i></md-button>
    <md-button type="submit" class="md-raised">Search</md-button>
    </md-content>
</form>
</md-toolbar>
