<md-toolbar class="md-table-toolbar md-default">
  <div class="md-toolbar-tools">
    <span ng-hide="!edit.record.length">{{edit.label}}</span>
    <span ng-show="!edit.record.length">New {{edit.objectName}}</span>
    <span flex="" class="flex"></span>
    <md-button class="md-raised md-primary" style="color:#fff;" ng-click="edit.save()" >SAVE</md-button>
    <a class="md-primary md-button md-ink-ripple" href="javascript:history.back()" >Cancel</a>
  </div>
</md-toolbar>

<section class="md-whiteframe-z1"  flex>
  <md-toolbar class="demo-toolbar md-primary">
    <div class="md-toolbar-tools">
      <h3 class="ng-binding">{{block.blocklabel}}</h3>
    </div>
  </md-toolbar>
  <md-content class="md-padding">
    <div layout="row" layout-wrap >
      <div flex="50"class="block-field" flex-xs="100" layout="row" >
          <div flex="30" flex-xs="100"  style="text-align:right">
            <label>Hello</label>
          </div>
          <div flex="70" flex-xs="100" >
            <md-input-container class="md-block" flex>
              <input type="text">
            </md-input-container>
          </div>
      </div>
    </div>
  </md-content>
</section>

