<!--Button list-->
<md-content >
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="dashboard.addObject(1)" style="border-radius: 50px; background-color: #2191c0">Travel</md-button>
        <md-button class="md-raised md-primary" ng-click="dashboard.addObject(2)" style="border-radius: 50px; background-color: #2191c0">Service</md-button>
        <md-button class="md-raised md-primary" ng-click="dashboard.addObject(3)" style="border-radius: 50px; background-color: #2191c0">Medical</md-button>
        <md-button class="md-raised md-primary" ng-click="dashboard.addObject(4)" style="border-radius: 50px; background-color: #2191c0">Other</md-button>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        Default Input
        <md-button class="md-icon-button" aria-label="Filter" ng-click="dashboard.defaultVal = !dashboard.defaultVal">
            <i ng-show="!dashboard.defaultVal" class="material-icons">keyboard_hide</i>
            <i ng-hide="!dashboard.defaultVal" class="material-icons">keyboard_capslock</i>
        </md-button>
    </section>
</md-content>
<!--End Button list-->
<!--Defuant values Zone-->
<md-content class="check-element animate-show" ng-show="dashboard.defaultVal" style="border: 1px dashed #888f88; margin-bottom: 20px;" >
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-input-container class="md-block" flex="80" flex-xs="80">
            <label>Opportunity</label>
            <md-select ng-model="dashboard.defaultOpportunity" ng-required="true" >
                <md-option ng-repeat="type in dashboard.listdatasOpportunity" value="{{type.opportunity}}">
                    {{type.opportunity}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-datepicker ng-model="dashboard.defaultDate" flex ="15"></md-datepicker>
    </section>
</md-content>
<!--End Default value-->
<!--Form For New Item-->
<form ng-repeat="object in dashboard.objectList " ng-submit="dashboard.save(object,$index)" ng-animate="'animate'">
    <section class="md-whiteframe-z1" ng-repeat="block in object.blocks" flex style="margin-bottom: 20px;">
        <md-toolbar class="demo-toolbar" style="background-color:#2191c0;">
            <div class="md-toolbar-tools">
                <h3 class="ng-binding">{{block.blocklabel}}</h3>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div layout="row" layout-wrap ng-switch on="object.data.category" flex="100">
                <div ng-switch-when="1" flex="100">
                    <div class="block-field" flex-xs="100" layout="row" >
                        <div flex="100" class="block-field" flex-xs="100" >
                            <md-input-container class="md-block" flex >
                                <label>Travel Type</label>
                                <md-select ng-model="object.data.travel.traveltype" >
                                    <md-option ng-repeat="picklist in block.fields.traveltype" value="{{picklist.id}}" >
                                        {{picklist.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="100" class="block-field" flex-xs="100" ng-show="object.data.travel.traveltype == 1">
                            <md-input-container class="md-block" flex >
                                <label>Travel Sub Type</label>
                                <md-select ng-model="object.data.travel.travelsubtype" ng-change="dashboard.getStation(object.data)">
                                    <md-option ng-repeat="picklist in block.fields.travelsubtype" value="{{picklist.id}}" >
                                        {{picklist.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div class="block-field" flex-xs="100" layout="row" >
                        <div flex="100" class="block-field" flex-xs="100" ng-show="object.data.travelField">
                            <md-input-container class="md-block" flex >
                                <label>Origination</label>
                                <input ng-model="object.data.travel.origination" type="{{field.type.fieldtype}}">
                            </md-input-container>
                        </div>
                        <div flex="100" class="block-field" flex-xs="100" ng-show="object.data.travelField">
                            <md-input-container class="md-block" flex >
                                <label>Destination</label>
                                <input ng-model="object.data.travel.destination" type="{{field.type.fieldtype}}">
                            </md-input-container>
                        </div>
                        <div flex="100" class="block-field" flex-xs="100" ng-hide="object.data.travelField">
                            <md-input-container class="md-block" flex >
                                <label>Origination</label>
                                <md-select ng-model="object.data.travel.origination" ng-change="dashboard.getitemcost(object.data)">
                                    <md-option ng-repeat="picklist in dashboard.Ostations" value="{{picklist.id}}" selected="first">
                                        {{picklist.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="100" class="block-field" flex-xs="100" ng-hide="object.data.travelField">
                            <md-input-container class="md-block" flex >
                                <label>Destination</label>
                                <md-select ng-model="object.data.travel.destination" ng-change="dashboard.getitemcost(object.data)">
                                    <md-option ng-repeat="picklist in dashboard.Dstations" value="{{picklist.id}}">
                                        {{picklist.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <!--TaxiFareFinder iFrame code for GrabCar Economy - Bangkok, Thailand -->
                    <!--TaxiFareFinder Widget Plugin for GrabCar Economy - Bangkok, Thailand -->
                    <div id="tff-widget">
                        <script type="text/javascript">
                            var tffData = {city: "GrabCar-Economy-Bangkok-Thailand", lat: 13.732715, lng: 100.526047, layout: "horizontal"};
                        </script>
                        <script type="text/javascript" src="https://api.taxifarefinder.com/fare_widget.js"></script>
                    </div>
                </div>
                <div ng-switch-when="2" flex="100">
                    <div class="block-field" flex-xs="100" layout="row" >
                        <div flex="100" class="block-field" flex-xs="100" >
                            <md-input-container class="md-block" flex >
                                <label>Service Type</label>
                                <md-select ng-model="object.data.service.servicetype" >
                                    <md-option ng-repeat="picklist in block.fields.servicetype" value="{{picklist.id}}" >
                                        {{picklist.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div flex="100" class="block-field" flex-xs="100" >
                            <md-input-container class="md-block" flex >
                            <label>Service Name</label>
                            <input ng-model="object.data.service.name" type="text">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="3" flex="100">
                    <div class="block-field" flex-xs="100" layout="row" >
                        <div flex="100" class="block-field" flex-xs="100" >
                            <md-input-container class="md-block" flex >
                                <label>Symptom</label>
                                <input ng-model="object.data.medical.symptomname" type="text">
                            </md-input-container>
                        </div>
                        <div flex="100" class="block-field" flex-xs="100" >
                            <md-input-container class="md-block" flex >
                                <label>Hospital</label>
                                <input ng-model="object.data.medical.hospital" type="text">
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="4" flex="100">
                    <div class="block-field" flex-xs="100" layout="row" >
                        <div flex="100" class="block-field" flex-xs="100" >
                            <md-input-container class="md-block" flex >
                                <label>Topic</label>
                                <input ng-model="object.data.other.topic" type="text">
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-wrap >
                <div flex="50"class="block-field" flex-xs="100" layout="row" ng-repeat="field in block.fields">
                    <div flex="100" flex-xs="100" ng-switch on="field.type.id">
                        <div ng-switch-when="5" class="field">
                            <md-input-container class="md-block" flex >
                                <label>{{field.fieldlabel}}</label>
                                <md-select ng-model="object.data[field.fieldname]" ng-required="{{field.required}}">
                                    <md-option ng-repeat="picklist in field[field.fieldlabel]" value="{{picklist.id}}" >
                                        {{picklist.name}}
                                        {{picklist.user_name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="4" class="field">
                            <md-input-container class="md-block" flex >
                                <label>{{field.fieldlabel}}</label>
                                <textarea ng-model="object.data[field.fieldname]" md-maxlength="300" rows="5" md-select-on-focus ng-required="{{field.required}}"></textarea>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="6" class="field">
                            <md-datepicker ng-model="object.data.date" ng-required="{{field.required}}" ></md-datepicker>
                        </div>
                        <div ng-switch-when="7" class="field">
                            <md-input-container class="md-block" flex >
                                <label>{{field.fieldlabel}}</label>
                                <input ng-model="object.data[field.fieldname]" type="number" ng-required="{{field.required}}" ng-disabled="!object.data.travelField">
                            </md-input-container>
                        </div>
                        <div ng-switch-when="2" class="field">
                        </div>
                        <div ng-switch-default class="field">
                        </div>
                    </div>
                </div>

                <div flex="60" flex-offset="15" layout-wrap style="margin-top: 20px;" >
                    <div flex="25" flex-xs="0"></div>
                    <div flex="100" class="block-field" flex-xs="100" layout="row" style="align-content: center">
                        <div flex="100" flex-xs="100" >
                            <input ng-image-select ng-model="object.data.attachment" type="file" >
                        </div>
                    </div>
                    <!--<div flex="25" flex-xs="0"></div>-->
                </div>
            </div>
            <md-button class="md-raised md-primary" style="float: right;background-color: #2191c0;" ng-click="dashboard.removeObject($index)" >Close</md-button>
            <md-button class="md-raised md-primary" style="float: right;background-color: #2191c0;" type="submit">OK</md-button>
        </md-content>

    </section>
</form>
<br/>
<!--End Form-->
<!--Item dashboard-->
<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span>{{dashboard.objectName}}</span>
        <md-button class="md-icon-button" aria-label="Filter" ng-click="dashboard.filterBtn = !dashboard.filterBtn">
            <i ng-show="!dashboard.filterBtn" class="material-icons">search</i>
            <i ng-hide="!dashboard.filterBtn" class="material-icons">arrow_drop_up</i>
        </md-button>
    </div>

    <form ng-hide="!dashboard.filterBtn" ng-submit="dashboard.loadList(dashboard.objectName,dashboard.query)">
        <md-content layout="row"  layout-align="center center">

            <md-input-container flex="60" md-no-float class="md-block" >
                <md-icon class="material-icons">search</md-icon>
                <input   ng-model="dashboard.query.search" type="text" placeholder="Search">

            </md-input-container>

            <md-button type="button"
                       class="md-icon-button md-button"
                       ng-hide="!dashboard.query.search.length"
                       ng-click="dashboard.cancleSearch()"
            ><i class="material-icons">clear</i></md-button>
            <md-button type="submit" class="md-raised">Search</md-button>
        </md-content>
    </form>
</md-toolbar>

<md-table-container>
    <table md-table md-row-select ng-model="dashboard.selected" md-progress="dashboard.promise">
        <thead md-head md-order="dashboard.query.order" md-on-reorder="dashboard.onReorder">
        <tr md-row>
            <th md-column ng-repeat="(label , fieldname) in dashboard.heads" md-order-by="{{fieldname}}">{{label}}</th>
            <th md-column width="50"></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="listdata" md-select-id="{{listdata.id}}" md-auto-select ng-repeat="listdata in dashboard.listdatas">
            <td md-cell ng-repeat="fieldname in dashboard.heads" ng-click="dashboard.getDetail(listdata.id)">
                <div ng-switch="fieldname">
                    <div ng-switch-when="status">{{listdata['retrive_status']['name']}}</div>
                    <div ng-switch-when="opportunity">{{listdata['retrive_opportunity']['name']}}</div>
                    <div ng-switch-when="category">{{listdata['retrive_category']['name']}}</div>
                    <div ng-switch-default>{{listdata[fieldname]}}</div>
                </div>
            </td>
            <td md-cell >
                <md-button href="#/{{dashboard.objectName}}/detail/{{listdata.id}}"
                           class="md-icon-button launch" >
                    <i class="material-icons" >more_vert</i>
                </md-button>
            </td>

        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="dashboard.query.limit" md-page="dashboard.query.page" md-options="dashboard.limitoption"
                     md-total="{{dashboard.total}}" md-on-paginate="dashboard.onPaginate" md-page-select></md-table-pagination>
<!--End Item List-->

<!--Button list-->
<md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="dashboard.clone()" style="background-color: #2191c0">clone</md-button>
        <md-button class="md-raised md-primary" ng-click="dashboard.submitExpense()" style="background-color: #2191c0">submit</md-button>
    </section>
</md-content>
