<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span >{{detail.label}}</span>
        <span flex="" class="flex"></span>
        <md-button class="md-raised" ng-click="detail.deleteRecord($event)" ng-show="detail.data.status != 2">DELETE Item</md-button>
    </div>
</md-toolbar>
<div ng-include="'views/objects/Item/travelDetail.html'" ng-show="detail.data.category == 1"></div>
<div ng-include="'views/objects/Item/serviceDetail.html'" ng-show="detail.data.category == 2"></div>
<div ng-include="'views/objects/Item/medicalDetail.html'" ng-show="detail.data.category == 3"></div>
<div ng-include="'views/objects/Item/othersDetail.html'" ng-show="detail.data.category == 4"></div>
<section class="md-whiteframe-z1" ng-repeat="block in detail.blocks" flex>
    <md-toolbar class="demo-toolbar md-primary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">{{block.blocklabel}}</h3>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <div layout="row" layout-wrap >
            <div flex="50" layout="row" >
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Item Name</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.itemname}}
                </div>
            </div>
            <div flex="50" layout="row" >
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Opportunity</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.retrive_opportunity.name}}
                </div>
            </div>
            <div flex="50" layout="row" >
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Date</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.date}}
                </div>
            </div>
            <div flex="50" layout="row" >
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Cost</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.cost}}
                </div>
            </div>
            <div flex="50" layout="row" >
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Status</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.retrive_status.name}}
                </div>
            </div>
            <div flex="100" layout="row" >
                <div flex="15" class="detail-block" style="text-align:right">
                    <strong>Description</strong>
                </div>
                <div flex="85" class="detail-block">
                    {{detail.data.description}}
                </div>
            </div>
            <div flex="100" layout="row" ng-show="detail.data.attachment != ''">
                <div flex="15" class="detail-block" style="text-align:right">
                    <strong>Attachment</strong>
                </div>
                <div flex="85" class="detail-block">
                    <img src="detail.data.attachment" width="300px" height="300px">
                </div>
            </div>
        </div>
    </md-content>
</section>

