<section class="md-whiteframe-z1" flex>
    <md-toolbar class="demo-toolbar md-primary">
        <div class="md-toolbar-tools">
            <h3 class="ng-binding">Travel</h3>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <div layout="row" layout-wrap >
            <div flex="50" layout="row" >
                <div flex="30" class="detail-block" style="text-align:right">
                    <strong>Topic</strong>
                </div>
                <div flex="70" class="detail-block">
                    {{detail.data.other.topic}}
                </div>
            </div>
        </div>
    </md-content>
</section>