<!--Button list-->
<md-content >
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="dashboard.addObject('Travel')" style="border-radius: 50px; background-color: #2191c0">Travel</md-button>
        <md-button class="md-raised md-primary" ng-click="dashboard.addObject('Service')" style="border-radius: 50px; background-color: #2191c0">Service</md-button>
        <md-button class="md-raised md-primary" ng-click="dashboard.addObject('Medical')" style="border-radius: 50px; background-color: #2191c0">Medical</md-button>
        <md-button class="md-raised md-primary" ng-click="dashboard.addObject('Other')" style="border-radius: 50px; background-color: #2191c0">Other</md-button>
    </section>

    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        Default Input
        <md-button class="md-icon-button" aria-label="Filter" ng-click="dashboard.defaultVal = !dashboard.defaultVal">
            <i ng-show="!dashboard.defaultVal" class="material-icons">keyboard_hide</i>
            <i ng-hide="!dashboard.defaultVal" class="material-icons">keyboard_capslock</i>
        </md-button>
    </section>
</md-content>
<!--End Button list-->
<!--Defuant values Zone-->
<md-content class="check-element animate-show" ng-show="dashboard.defaultVal" style="border: 1px dashed #888f88; margin-bottom: 20px;" >
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-input-container class="md-block" flex="80" flex-xs="80">
            <label>Opportunity</label>
            <md-select ng-model="dashboard.defaultOpportunity" ng-required="true" >
                <md-option ng-repeat="type in dashboard.listdatasOpportunity" value="{{type.opportunity}}">
                    {{type.opportunity}}
                </md-option>
            </md-select>
        </md-input-container>
        <md-datepicker ng-model="dashboard.defaultDate" flex ="15"></md-datepicker>
        <!--<div flex="100"class="block-field" flex-xs="100" layout="row">-->
        <!--<md-input-container class="md-block" flex="100" flex-xs="100">-->
        <!--<label>Item Name</label>-->
        <!--<input ng-model="dashboard.defaultItemName" type="text" >-->
        <!--&lt;!&ndash;<div ng-messages="object.data.item.itemname.$error">&ndash;&gt;-->
        <!--&lt;!&ndash;<div ng-message='required'>This is required!</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</md-input-container>-->
        <!--</div>-->
    </section>
</md-content>
<!--End Default value-->
<!--Form For New Item-->
<form ng-repeat="object in dashboard.objectList" ng-submit="dashboard.save(object,$index)">
    <section class="md-whiteframe-z1" ng-repeat="block in object.blocks" flex style="margin-bottom: 20px;">
        <md-toolbar class="demo-toolbar" style="background-color:#2191c0;">
            <div class="md-toolbar-tools">
                <h3 class="ng-binding">{{block.blocklabel}}</h3>
            </div>
        </md-toolbar>
        <md-content class="md-padding">
            <div layout="row" layout-wrap >
                <!--<div flex="100"class="block-field" flex-xs="100" layout="row">-->
                <!--<md-input-container class="md-block" flex="85" flex-xs="85">-->
                <!--<label>Name</label>-->
                <!--<input ng-model="object.data.item.itemname" type="text" ng-required="true">-->
                <!--&lt;!&ndash;<div ng-messages="object.data.item.itemname.$error">&ndash;&gt;-->
                <!--&lt;!&ndash;<div ng-message='required'>This is required!</div>&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</md-input-container>-->
                <!--</div>-->

                <div flex="100"class="block-field" flex-xs="100" layout="row" style="margin-top: 20px;" >
                    <md-input-container class="md-block" flex="85" flex-xs="85">
                        <label>Opportunity</label>
                        <md-select ng-model="object.data.item.opportunity" ng-required="true" >
                            <md-option ng-repeat="type in dashboard.listdatasOpportunity" value="{{type.opportunity}}">
                                {{type.opportunity}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <div flex="13" flex-xs="13" >
                        <md-datepicker ng-model="object.data.item_date" ng-required="true"></md-datepicker>
                    </div>
                </div>

                <div flex="50"class="block-field" flex-xs="100" layout="row" ng-show="object.objectname=='Travel'" style="margin-top: 20px;">
                    <div flex="100" flex-xs="100" >
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Travel Type</label>
                            <md-select ng-model="object.data.travel_type" ng-required="true">
                                <md-option ng-repeat="type in dashboard.listdatasTravelType" value="{{type.traveltypename}}" ng-selected="$first">
                                    {{type.traveltypename}}
                                </md-option>
                            </md-select>
                            <div ng-messages="object.data.travel_type.$error">
                                <div ng-message='required'>This is required!</div>
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div flex="50"class="block-field" flex-xs="100" style="margin-top: 20px;" layout="row" ng-show="object.objectname =='Travel' && object.data.travel_type == 'Public Transport'">
                    <div flex="100" flex-xs="100" >
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Travel sub type</label>
                            <md-select ng-model="object.data.travel_sub_type">
                                <md-option ng-repeat="type in dashboard.listdatasTravelSubType" value="{{type.travelsubtypename}}"
                                           ng-disabled="object.data.travel_type != 'Public Transport'" ng-required="object.data.travel_type == 'Public Transport'">
                                    {{type.travelsubtypename}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div flex="50"class="block-field" flex-xs="100" style="margin-top: 20px;" layout="row" ng-show="object.objectname =='Service'">
                    <div flex="100" flex-xs="100" >
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Service Type</label>
                            <md-select ng-model="object.data.service_type" ng-required="true">
                                <md-option ng-repeat="type in dashboard.listdatasServiceType" value="{{type.servicetypename}}">
                                    {{type.servicetypename}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div style="margin-top: 20px;" flex="50"class="block-field" flex-xs="100" layout="row" ng-include="'views/layout/field/travelEndPoint.html'"></div>
                <div flex="50"class="block-field" flex-xs="100" layout="row" style="margin-top: 20px;" >
                    <div flex="100" flex-xs="100" >
                        <md-input-container class="md-block" flex>
                            <label>Cost</label>
                            <input  ng-model="object.data.item.cost" type="Number" ng-required="true" min="1" ng-disabled="object.data.travel_sub_type =='BTS' || object.data.travel_sub_type =='MRT' || object.data.travel_sub_type =='BRT' || object.data.travel_sub_type =='Airport Rail Link'">
                        </md-input-container>
                    </div>
                </div>
                <div flex="100"class="block-field" flex-xs="100" layout="row" style="margin-top: 20px;">
                    <md-input-container class="md-block" flex>
                        <label>Description</label>
                        <textarea ng-model="object.data.item.description"  md-maxlength="250" rows="3" md-select-on-focus></textarea>
                    </md-input-container>
                </div>
                <div layout="row" layout-wrap style="margin-top: 20px;" >
                    <div flex="25" flex-xs="0"></div>
                    <div flex="100" class="block-field" flex-xs="100" layout="row" style="align-content: center">
                        <div flex="100" flex-xs="100" >
                            <input ng-image-select ng-model="object.data.item.attachment" type="file" >
                        </div>
                    </div>
                    <!--<div flex="25" flex-xs="0"></div>-->
                </div>
            </div>
            <md-button class="md-raised md-primary" style="float: right;background-color: #2191c0;" ng-click="dashboard.removeObject($index)" >Close</md-button>
            <md-button class="md-raised md-primary" style="float: right;background-color: #2191c0;" type="submit">OK</md-button>
        </md-content>

    </section>
</form>
<br/>
<!--End Form-->
<!--Item List-->
<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <div layout-gt-sm="row">
            <span class="mdl-chip" >
                <span class="mdl-chip mdl-chip--deletable ">
                    <span class="mdl-chip__text">Item List</span>
                </span>
            </span>
        </div>
        <md-button class="md-icon-button" aria-label="Filter" ng-click="dashboard.filterBtn = !dashboard.filterBtn">
            <i ng-show="!dashboard.filterBtn" class="material-icons">search</i>
            <i ng-hide="!dashboard.filterBtn" class="material-icons">arrow_drop_up</i>
        </md-button>
    </div>

    <form ng-hide="!dashboard.filterBtn" ng-submit="dashboard.loadList('Item',dashboard.queryItem)">
        <md-content layout="row"  layout-align="center center">

            <md-input-container flex="60" md-no-float class="md-block" >
                <md-icon class="material-icons">search</md-icon>
                <input   ng-model="dashboard.queryItem.search" type="text" placeholder="Search">

            </md-input-container>

            <md-button type="button"
                       class="md-icon-button md-button"
                       ng-hide="!dashboard.queryItem.search.length"
                       ng-click="dashboard.cancleSearch()"
            ><i class="material-icons">clear</i></md-button>
            <md-button type="submit" class="md-raised">Search</md-button>
        </md-content>
    </form>
</md-toolbar>

<md-table-container>
    <table md-table md-row-select multiple ng-model="dashboard.selected" md-progress="dashboard.promiseItem">
        <thead md-head md-order="dashboard.queryItem.order" md-on-reorder="dashboard.onReorder">
        <tr md-row>
            <th md-column ng-repeat="(label,fieldname) in dashboard.headsItem" md-order-by="{{fieldname}}">{{label}}</th>
            <th md-column width="50"></th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row md-select="listdata" md-select-id="{{listdata.id}}" md-auto-select ng-repeat="listdata in dashboard.listdatasItem" ng-show="listdata['status'] != 'submited'">
            <td md-cell ng-repeat="fieldname in dashboard.headsItem" ng-click="dashboard.getDetail(listdata.id)">
                <div ng-switch="fieldname">
                    <!--<div ng-switch-when="attachment"><img src="{{listdata[fieldname]}}" alt="" style="width:30px;height:30px;"></div>-->
                    <!--<div ng-switch-default>{{listdata[fieldname]}}</div>-->
                </div>
            </td>
            <td md-cell >
                <md-button href="#/Item/detail/{{listdata.id}}"
                           class="md-icon-button launch" >
                    <i class="material-icons" >more_vert</i>
                </md-button>
            </td>

        </tr>
        </tbody>
    </table>
</md-table-container>

<md-table-pagination md-limit="dashboard.queryItem.limit" md-page="dashboard.queryItem.page" md-options="dashboard.limitoption"
                     md-total="{{dashboard.totalItem}}" md-on-paginate="dashboard.onPaginate" md-page-select></md-table-pagination>
<!--End Item List-->

<!--Button list-->
<md-content>
    <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
        <md-button class="md-raised md-primary" ng-click="dashboard.clone()" style="background-color: #2191c0">clone</md-button>
        <md-button class="md-raised md-primary" ng-click="dashboard.submitToExpense()" style="background-color: #2191c0">submit</md-button>
    </section>
</md-content>
