<md-table-container>
  <table md-table md-row-select ng-model="list.selected" md-progress="list.promise">
    <thead md-head md-order="list.query.order" md-on-reorder="list.onReorder">
    <tr md-row>
      <th md-column ng-repeat="(label , fieldname) in list.heads" md-order-by="{{fieldname}}">{{label}}</th>
      <th md-column width="50"></th>
    </tr>
    </thead>
    <tbody md-body>
    <tr md-row md-select="listdata" md-select-id="{{listdata.id}}" md-auto-select ng-repeat="listdata in list.listdatas">
      <td md-cell ng-repeat="fieldname in list.heads" ng-click="list.getDetail(listdata.id)">{{listdata[fieldname]}}</td>
      <td md-cell >
        <md-button href="#/{{list.objectName}}/detail/{{listdata.id}}"
                   class="md-icon-button launch" >
          <i class="material-icons" >more_vert</i>
        </md-button>
      </td>

    </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="list.query.limit" md-page="list.query.page" md-options="list.limitoption"
                     md-total="{{list.total}}" md-on-paginate="list.onPaginate" md-page-select></md-table-pagination>