/* Toolbar area */
.mdl-badge[data-badge]:after {
  background: white;
  color: #000;
}
.md-list-item.md-list-item-inner{
  height:45px;
}
.md-button {
  line-height: 6px;
}

.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px; }

md-toolbar h3 {
  margin: auto;
  font-weight: 500; }

md-toolbar .md-button {
  line-height: 36px; }

/* Sidenav area */
md-list-item > a {
  width: 100%;
  text-align: left !important; }

md-icon.avatar.circle {
  border-radius: 50%;
  overflow: hidden; }

md-icon.avatar {
  margin-right: 20px; }

md-list .md-button.selected {
  color: #03a9f4; }

button#main {
  margin-bottom: 10px; }

md-sidenav > md-toolbar {
  height: 64px; }

md-list-item {
  overflow: hidden; }

/* Primary content area */
#content {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px; }

#content .md-button.contact {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 40px; }

#content md-icon.avatar {
  margin-top: 10px; }

#content .md-button.contact > md-icon {
  fill: black;
  width: 36px;
  height: 36px; }

#content .md-button.contact:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding: 4px;
  transition: all 100ms ease-out 30ms; }

/* Utils */
/* Typography support coming in 0.8.0 */
.avatar {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  font-size: 50px;
  text-align: center; }

md-bottom-sheet md-icon {
  margin-right: 20px; }

span.name {
  font-weight: bold;
  font-size: 1.1em;
  padding-left: 5px; }

md-sidenav md-toolbar div {
  font-size: small; }

.relate-field md-icon {
  cursor: pointer; }

.hide-chip md-chip.md-chip {
  display: none; }

.detail-block {
  padding: 2px 4px; }

.text-wrap {
  white-space: pre-line; }

.block-field md-input-container {
  margin: 0; }

.block-field md-input-container .md-errors-spacer {
  min-height: 14px; }

.block {
  display: block; }

.md-button {
  line-height: 46px; }

.content {
  margin: 16px; }

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 100px !important;
  width: 85vw !important;
  max-width: 200px !important; }

.mb20 {
  margin-bottom: 20px; }

table.md-table th.md-column,
table.md-table td.md-cell {
  font-size: 14px; }

.table td.md-cell,
.table th.md-column {
  padding: 10px !important;
  height: 40px; }
.table td md-input-container {
  margin: 0; }

.md-mini.md-button {
  height: 36px;
  line-height: 36px; }

.sortable .chip {
  cursor: pointer;
  border-radius: 16px;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 8px 8px 0 0;
  padding: 0 12px;
  float: left;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  background: #e0e0e0;
  color: #424242; }
.sortable .chip.ui-sortable-placeholder {
  border: #000 dotted 1px;
  background: initial;
  visibility: initial !important; }
.sortable .chip.detail:hover {
  cursor: default;
  background: #e0e0e0;
  color: #424242; }
.sortable .chip:hover {
  background: #3f51b5;
  color: #fff; }
.sortable .chip:hover .material-icons {
  color: #fff; }

.md-button i.material-icons {
  position: relative;
  top: 7px; }

.md-button.md-icon-button i.material-icons {
  position: relative;
  top: 0px; }

/*# sourceMappingURL=style.css.map */
