<table>
    <thead>
        <tr>
            <th rowspan="2">
                UserId
            </th>
            <th rowspan="2">
                Name
            </th>
            <th colspan="2">
                Sick leave 30 Day (240 Hr.)
            </th>
            <th colspan="2">
                Bussiness leave 4 Day (32 Hr.)
            </th>
            <th colspan="2">
                Vacation leave 6 Day (48 Hr.)
            </th>
        </tr>
        <tr>
            <th>
                use
            </th>
            <th>
                available
            </th>
            <th>
                use
            </th>
            <th>
                available
            </th>
            <th>
                use
            </th>
            <th>
                available
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="leave in allLeave.leave">
            <td>
                {{leave.userid}}
            </td>
            <td>
                {{leave.username}}
            </td>
            <td>
                {{leave.sickLeave}}
            </td>
            <td>
                {{240.00-leave.sickLeave}}
            </td>
            <td>
                {{leave.busiLeave}}
            </td>
            <td>
                {{32.00-leave.busiLeave}}
            </td>
            <td>
                {{leave.vacaLeave}}
            </td>
            <td>
                {{48.00-leave.vacaLeave}}
            </td>
        </tr>
    </tbody>
</table>