<!--<md-toolbar class="md-table-toolbar md-default">-->
    <!--<div class="md-toolbar-tools">-->
        <!--<span >{{leavedetail.label}}</span>-->
        <!--<span flex="" class="flex"></span>-->
        <!--<md-button class="md-raised" href="#/Leave/edit/{{leavedetail.record}}"span >EDIT</md-button>-->
        <!--&lt;!&ndash;<md-button class="md-raised">Edit</md-button>&ndash;&gt;-->
        <!--<md-button class="md-raised" ng-click="leavedetail.deleteRecord($event)" >DELETE</md-button>-->
    <!--</div>-->
<!--</md-toolbar>-->
<section  flex>
    <div class="md-toolbar-tools">
        <i class="material-icons">bookmark</i> <h3 class="ng-binding">{{leavedetail.data.leavename}}</h3>
    </div>
    <md-content class="md-padding" style="border: 1px dashed black;">
        <div layout="row" layout-wrap >
            <div flex="50" layout="row">
                <div flex="30" class="leavedetail-block" style="text-align:right">
                    <strong>Name &nbsp;&nbsp;&nbsp;</strong>
                </div>
                <div flex="70" class="leavedetail-block">
                    {{leavedetail.data.leavename}}
                </div>
            </div>
            <div flex="50" layout="row">
                <div flex="30" class="leavedetail-block" style="text-align:right">
                    <strong>Type of leave &nbsp;&nbsp;</strong>
                </div>
                <div flex="70" class="leavedetail-block">
                    {{leavedetail.data.leave_type.leavetypename}}
                </div>
            </div>
        </div>
        <div layout="row" layout-wrap >
            <div flex="50" layout="row">
                <div flex="30" class="leavedetail-block" style="text-align:right">
                    <strong>Start date &nbsp;&nbsp;&nbsp;</strong>
                </div>
                <div flex="70" class="leavedetail-block">
                    {{leavedetail.data.start_date}}
                </div>
            </div>
            <div flex="50" layout="row">
                <div flex="30" class="leavedetail-block" style="text-align:right">
                    <strong>End date &nbsp;&nbsp;</strong>
                </div>
                <div flex="70" class="leavedetail-block">
                    {{leavedetail.data.end_date}}
                </div>
            </div>
        </div>
        <div layout="row" layout-wrap >
            <div flex="50" layout="row">
                <div flex="30" class="leavedetail-block" style="text-align:right">
                    <strong>Start time &nbsp;&nbsp;&nbsp;</strong>
                </div>
                <div flex="70" class="leavedetail-block">
                    {{leavedetail.data.start_time}}
                </div>
            </div>
            <div flex="50" layout="row">
                <div flex="30" class="leavedetail-block" style="text-align:right">
                    <strong>End time &nbsp;&nbsp;</strong>
                </div>
                <div flex="70" class="leavedetail-block">
                    {{leavedetail.data.end_time}}
                </div>
            </div>
        </div>
        <div layout="row" layout-wrap >
            <div flex="50" layout="row">
                <div flex="30" class="leavedetail-block" style="text-align:right">
                    <strong>Leave duration &nbsp;&nbsp;&nbsp;</strong>
                </div>
                <div flex="70" class="leavedetail-block">
                    {{leavedetail.data.leave_duration}}
                </div>
            </div>
            <div flex="50" layout="row">
                <div flex="30" class="leavedetail-block" style="text-align:right">
                    <strong>Reason &nbsp;&nbsp;</strong>
                </div>
                <div flex="70" class="leavedetail-block">
                    {{leavedetail.data.description}}
                </div>
            </div>
        </div>
    </md-content>
</section>
<md-container class="md-padding">
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <span flex="" class="flex" layout-align="end"></span>
            <md-button class="md-raised" style="background-color:#5f5964;color: white" href="#/Leave/leavelist">Back</md-button>
        </div>
    </md-toolbar>
</md-container>
