<!--<md-toolbar class="md-table-toolbar md-default">-->
  <!--<div class="md-toolbar-tools">-->
    <!--<span ng-hide="!edit.record.length">{{edit.label}}</span>-->
    <!--&lt;!&ndash;<span ng-show="!edit.record.length">New {{edit.objectName}}</span>&ndash;&gt;-->
    <!--<span ng-show="!edit.record.length">New Profile</span>-->
    <!--<span flex="" class="flex"></span>-->
    <!--<md-button class="md-raised md-primary" style="color:#fff;" ng-click="edit.save()" >SAVE</md-button>-->
    <!--<a class="md-primary md-button md-ink-ripple" href="javascript:history.back()" >Cancel</a>-->
  <!--</div>-->
<!--</md-toolbar>-->

<section class="md-whiteframe-z1" ng-repeat="block in edit.blocks" flex>
  <!--<md-toolbar class="demo-toolbar md-primary">-->
    <!--<div class="md-toolbar-tools">-->
      <!--&lt;!&ndash;<h3 class="ng-binding">{{block.blocklabel}}</h3>&ndash;&gt;-->
        <!--<h3 class="ng-binding">Profile information</h3>-->
    <!--</div>-->
  <!--</md-toolbar>-->
    <md-toolbar class="demo-toolbar " style="background-color:#2191c0;">
      <div class="md-toolbar-tools">
        <i class="material-icons">bookmark</i><h3 class="ng-binding">{{edit.data.profilewithpermission}}</h3>
      </div>
    </md-toolbar>
  <md-content class="md-padding" >
    <div layout="row" layout-wrap style="margin-left: 20px;" >
      <!--<div flex="50"class="block-field" flex-xs="100" layout="row" ng-repeat="field in block.fields " ng-if="$index>=1 && $index < 3">-->
      <div flex="50"class="block-field" flex-xs="100" layout="row" ng-repeat="field in block.fields |limitTo:1 " >

      <div flex="30" flex-xs="100"  style="text-align:center">
            <label >Profile:</label>
          </div>
          <div flex="70" flex-xs="100" >
            <md-input-container class="md-block" flex>
             <input ng-model="edit.data[field.fieldname]" type="text" required>
              <div ng-messages="colorForm.favoriteColor.$error">
                <div ng-message="required">This is required!</div>
              </div>
            </md-input-container>
          </div>
      </div>
    </div>
  </md-content>


<div flex="100" flex-gt-sm="50" layout="column" layout-align="center center">
  <div>
    <!--
      In IE, we cannot apply flex directly to <fieldset>
      @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
    -->

      <div layout="row" layout-wrap="" flex="" style="margin-left: 20px;">
        <div flex="50" ng-repeat="field in block.fields" ng-if="$index > 0">

          <md-checkbox ng-model="edit.data[field.fieldname]" >
            <!--{{edit.data[field.fieldname]}}-->
          </md-checkbox>
          <label>{{field.fieldlabel}}</label>
        </div>
      </div>
  </div>
</div>
  <br>

</section>

<md-container class="md-padding">
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span flex="" class="flex" layout-align="end"></span>
      <md-button class="md-raised" style="background-color:#5f5964;color: white" ng-click="edit.save()"  >SAVE</md-button>
      <md-button class="md-raised" style="background-color:#5f5964;color: white" href="#/profilewithpermission/profilelist" >Cancel</md-button>
    </div>
  </md-toolbar>
</md-container>